name: Daily Info Bot

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    env:
      TZ: 'Asia/Tokyo'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Bot
        env:
          SLACK_WEBHOOK_TECH: ${{ secrets.SLACK_WEBHOOK_TECH }}
          SLACK_WEBHOOK_LIFE: ${{ secrets.SLACK_WEBHOOK_LIFE }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          # 追加: Connpass API Key
          CONNPASS_API_KEY: ${{ secrets.CONNPASS_API_KEY }}
        run: python main.py
